<p id="notice"><%= notice %></p>

<h1>Listing Accounting Years</h1>

<table>
  <thead>
    <tr>
      <th>Year</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @accounting_years.each do |accounting_year| %>
      <tr>
        <td><%= accounting_year.year %></td>
        <td><%= link_to 'Show', accounting_year %></td>
        <td><%= link_to 'Edit', edit_accounting_year_path(accounting_year) %></td>
        <td><%= link_to 'Destroy', accounting_year, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Accounting year', new_accounting_year_path %>
