<p id="notice"><%= notice %></p>
<h1><%= @meeting.meeting %></h1>
<p>
  <%= @meeting.date %> at <%= @meeting.place %>.
</p>
<h2>Hyväksytyt korvaukset:</h2>
<%= render 'expenses/list', expenses: @meeting.expenses %>


<%= link_to 'Edit', edit_meeting_path(@meeting) %> |
<%= link_to 'Back', meetings_path %>
