<%= form_for(@user) do |f| %>
    <p id="notice"><%= notice %></p>

    <% if @user.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

          <ul>
            <% @user.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="field">
      <%= f.label :username %><br/>
      <%= f.text_field :username %>
    </div>
    <div class="field">
      <%= f.label :real_name %><br/>
      <%= f.text_field :name %>
    </div>
    <div class="field">
      <%= f.label :account_number %><br/>
      <%= f.text_field :account_number %>
    </div>
    <% if current_user.admin? %>

        <div class="field">
          <%= f.label :approved %><br/>
          <%= f.check_box :approved %>
        </div>
        <div class="field">
          <%= f.label :admin %><br/>
          <%= f.check_box :admin %>
        </div>
    <% end %>

    <div class="actions">
      <%= f.submit %>
    </div>
<% end %>
