<p id="notice"><%= notice %></p>

<h1>Listing Users</h1>
<p>
<%= link_to "All users", :action => "index" %>
<%= link_to "Users awaiting approval", :action => "index", :approved => "false" %>
</p>
<table class="table">
  <thead>
  <tr>
    <th>Name</th>
    <th>Username</th>
    <th>Account number</th>
    <th>Approved</th>
    <th>Admin</th>
  </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.username %></td>
        <td><%= user.account_number %></td>
        <td><%= user.approved %></td>
        <td><%= user.admin %></td>


        <td><%= link_to 'Show', user %></td>
        <td><%= link_to 'Edit', edit_user_path(user.id) %></td>
        <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User', new_user_path %>
