<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Account number:</strong>
  <%= @user.account_number %>
</p>

<h3>Kulunkorvaukset</h3>
<%= render 'expenses/list', expenses: @user.expenses %>

<% if @user.admin %>
    <p>User is admin.</p>
<% end %>
<% if current_user.admin? or current_user == @user %>

    <%= link_to 'Change password', edit_user_registration_path(@user) %>
    <%= link_to 'Change info', edit_user_path(@user) %>

<% end %>
<%= link_to 'Back', users_path %>
