<p id="notice"><%= notice %></p>

<p>
  Show:
  <%= link_to "All", :action => "index" %>
  <%= link_to "Not accepted", :action => "index", :accepted => "false" %>
  <%= link_to "Missing meeting", :action => "index", :meeting => "false" %>
  <%= link_to "Not paid", :action => "index", :unpaid => "false" %>


</p>
<h1>Listing Expenses</h1>
<%= render 'list', expenses: @expenses %>


<br>

<%= link_to 'New Expense', new_expense_path, 'data-no-turbolink' => true %>
