<li><%= link_to 'meetings', meetings_path %></li>
<li><%= link_to 'kulunkorvaukset', expenses_path %></li>
<li><%= link_to 'uusi kulunkorvaus', new_expense_path %></li>

<% if user_signed_in? %>
    <li><%= link_to current_user.username, current_user %></li>
    <li><%= link_to 'sign out', destroy_user_session_path, method: :delete %></li>
<% else %>
    <li><%= link_to 'sign in', new_user_session_path %></li>
    <li><%= link_to 'sign up', new_user_registration_path %></li>
<% end %>
